cffi==1.15.1
charset-normalizer==3.1.0
cryptography==39.0.2
doc2text==0.2.4
future==0.18.3
mime==0.1.0
numpy==1.24.2
packaging==23.0
pdfminer.six==20221105
Pillow==9.4.0
pycparser==2.21
PyPDF2==3.0.1
pytesseract==0.3.10
scipy==1.10.1
